/* line 4, ../../../app/stylesheets/global.sass */
body {
  text-align: center;
}

/* line 7, ../../../app/stylesheets/global.sass */
a, a:visited {
  text-decoration: none;
  color: #003399;
}

/* line 11, ../../../app/stylesheets/global.sass */
#wrapper {
  margin: 0px auto;
  text-align: left;
  width: 960px;
}

/* line 16, ../../../app/stylesheets/global.sass */
#welcome_stanza_lists {
  border-top: 1px solid #aaaaaa;
}

/* line 19, ../../../app/stylesheets/global.sass */
#welcome_stanza_lists > .stanza_list {
  width: 275px;
  display: inline-block;
}

/* line 23, ../../../app/stylesheets/global.sass */
.stanza_list {
  padding: 20px;
}
/* line 25, ../../../app/stylesheets/global.sass */
.stanza_list em {
  color: #aaaaaa;
  font-style: italic;
  font-size: 17px;
}
/* line 29, ../../../app/stylesheets/global.sass */
.stanza_list ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
/* line 33, ../../../app/stylesheets/global.sass */
.stanza_list ul li {
  list-style-type: none;
}
/* line 34, ../../../app/stylesheets/global.sass */
.stanza_list ul li .private_dash {
  color: #993300;
}
/* line 36, ../../../app/stylesheets/global.sass */
.stanza_list ul li .public_dash {
  color: #3377ff;
}

/* line 40, ../../../app/stylesheets/global.sass */
.stanza_list > .name {
  font-size: 18px;
  color: #777777;
  margin-bottom: 5px;
}

/* line 48, ../../../app/stylesheets/global.sass */
#call_to_action {
  color: #333333;
  padding: 20px;
  margin: 10px 0px;
  font-size: 30px;
  text-shadow: #999999 1px 1px 3px;
}
/* line 54, ../../../app/stylesheets/global.sass */
#call_to_action em {
  font-size: 36px;
  font-style: italic;
  color: #003399;
}

/* line 59, ../../../app/stylesheets/global.sass */
.stanza {
  padding: 20px;
}
/* line 61, ../../../app/stylesheets/global.sass */
.stanza .title {
  font-size: 26px;
}
/* line 63, ../../../app/stylesheets/global.sass */
.stanza .title em {
  color: #333333;
  font-size: 18px;
}
/* line 66, ../../../app/stylesheets/global.sass */
.stanza .byline {
  font-style: italic;
  margin: 5px 0px 10px 0px;
}
/* line 69, ../../../app/stylesheets/global.sass */
.stanza .content {
  font-size: 18px;
}
/* line 71, ../../../app/stylesheets/global.sass */
.stanza .copyright {
  margin-top: 15px;
  font-style: italic;
}

/* line 75, ../../../app/stylesheets/global.sass */
#footer {
  font-style: italic;
  padding: 20px;
  border-top: 1px solid #aaaaaa;
  color: #333333;
}

/* line 81, ../../../app/stylesheets/global.sass */
.clear {
  clear: both;
}

/* line 84, ../../../app/stylesheets/global.sass */
#top {
  background: #003366;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

/* line 88, ../../../app/stylesheets/global.sass */
#menu {
  padding: 10px 20px;
  float: right;
}
/* line 91, ../../../app/stylesheets/global.sass */
#menu li.menu_item {
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
  color: #777777;
}
/* line 96, ../../../app/stylesheets/global.sass */
#menu li.menu_item a, #menu li.menu_item a:visited {
  color: #cccccc;
}
/* line 98, ../../../app/stylesheets/global.sass */
#menu li.menu_item a:hover, #menu li.menu_item a:active {
  color: white;
}
