/* line 3, ../../../app/stylesheets/global.sass */
body {
  text-align: center;
}

/* line 6, ../../../app/stylesheets/global.sass */
a, a:visited {
  text-decoration: none;
  color: #003399;
}

/* line 10, ../../../app/stylesheets/global.sass */
#wrapper {
  margin: 0px auto;
  text-align: left;
  width: 960px;
}

/* line 15, ../../../app/stylesheets/global.sass */
#welcome_stanza_lists > .stanza_list {
  width: 275px;
  display: inline-block;
}

/* line 19, ../../../app/stylesheets/global.sass */
.stanza_list {
  padding: 20px;
}
/* line 21, ../../../app/stylesheets/global.sass */
.stanza_list ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
/* line 25, ../../../app/stylesheets/global.sass */
.stanza_list ul li {
  color: #3377ff;
  list-style-type: none;
}

/* line 29, ../../../app/stylesheets/global.sass */
.stanza_list > .name {
  font-size: 18px;
  color: #777777;
  margin-bottom: 5px;
}

/* line 37, ../../../app/stylesheets/global.sass */
#call_to_action {
  color: #333333;
  padding: 20px;
  margin: 10px 0px;
  font-size: 30px;
  text-shadow: #999999 1px 1px 3px;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}
/* line 46, ../../../app/stylesheets/global.sass */
#call_to_action em {
  font-size: 36px;
  font-style: italic;
  color: #003399;
}
