#comments
    
  - comments.each do |comment|
      
    .comment

      .author_info
        - if author == comment.user
          %span.user.author= link_to comment.user.public_name, user_path(comment.user)
        - else
          %span.user= link_to comment.user.public_name, user_path(comment.user)

        %span.when= comment.created_at.to_s(:nice_format)

      .body= comment.body