@import 'compass/css3/text-shadow'

body
  text-align: center

#wrapper 
  margin: 0px auto
  text-align: left
  width: 960px

#site_name
  font-size: 24px

#call_to_action
  color: #333
  padding: 20px
  margin: 10px 0px
  font-size: 36px
  +text-shadow(#999, 1px, 1px, 3px)
  border:
    top: 1px solid #aaa
    bottom: 1px solid #aaa
  em
    font-style: italic
    color: #003399  