@import 'compass/css3/text-shadow'

body
  text-align: center

a,a:visited
  text-decoration: none
  color: #003399

#wrapper 
  margin: 0px auto
  text-align: left
  width: 960px

#welcome_stanza_lists
  border-top: 1px solid #aaa

#welcome_stanza_lists > .stanza_list
  width: 275px
  display: inline-block

.stanza_list
  padding: 20px
  ul
    margin: 0px
    padding: 0px
    list-style-type: none
    li
      color: lighten(#003399, 30%)
      list-style-type: none

.stanza_list > .name
  font-size: 18px
  color: #777
  margin-bottom: 5px

#site_name
  

#call_to_action
  color: #333
  padding: 20px
  margin: 10px 0px
  font-size: 30px
  +text-shadow(#999, 1px, 1px, 3px)
  em
    font-size: 36px
    font-style: italic
    color: #003399  

.stanza
  padding: 20px
  h2
    font-size: 26px
  .byline
    font-style: italic
    margin: 5px 0px 10px 0px   
  .content
    font-size: 18px
  .copyright
    margin-top: 15px
    font-style: italic

#footer
  font-style: italic
  padding: 20px
  border-top: 1px solid #aaa
  color: #333