#call_to_action
  %em Just Poetry.
  %br
  No images.  We let the words speak

#welcome_stanza_lists
  = render :partial => 'stanzas/list', :locals => { :name => 'Most Recent', :stanzas => @most_recent_stanzas, :show_author => true }
  = render :partial => 'stanzas/list', :locals => { :name => 'Most Discussed', :stanzas => @most_commented_stanzas, :show_author => true }