.stanza_list
  .name= name
  %ul
    - stanzas.each do |stanza|
      %li
        &#x2015;
        = link_to stanza.title, stanza
        by
        = link_to stanza.user.public_name, stanza.user
        = "PRIVATE!" unless stanza.public?