.stanza_list
  .name= name
  %ul
    - stanzas.each do |stanza|
      %li
        .clear
        - css_class = stanza.public? ? 'public_dash' : 'private_dash'
        == <span class='#{css_class}'>&mdash;</span>

        = link_to stanza.title, stanza
        - if show_author
          by
          = link_to stanza.user.public_name, stanza.user

    - if stanzas.empty?
      %em No Stanzas